.box {
    background: #eeeeee;
    padding:10px;
    border: 1px solid black;
    margin: 5px;
    
  }
  
  .box:nth-child(odd) {
 
  }
  
  .box:nth-child(3n) {

  }

  .nestedbox{
      
      border:1px solid black;
      width:35%;
      height:100%;
      float: left;
  }
  .textbox{
      float:right;
  
      width:60%;
      height:100%;
  }
  
  .box1 {
    grid-area: box1;
  }
  
  .box2 {
    grid-area: box2;
  }
  
  .box3 {
    grid-area: box3;
  }
  
  .box4 {
    grid-area: box4;
    
  }
  
  .box5 {
    grid-area: box5;
   

  }
  
  .box6 {
    grid-area: box6;


  }
  
  .box7 {
    grid-area: box7;
  }
  
  .box8 {
    grid-area: box8;
  }
  .box9 {
    grid-area: box9;
  }
  
  .box10 {
    grid-area: box10;
  }
  
  
  
  /* Extra Small and up (Portrait Phones) */
  
 
  

  

    .grid {
    display:grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows:25% 30% 20% 30%;
      grid-template-areas: 
        "box1 box1 box2 box2"
        "box3 box3 box4 box5"
        "box3 box3 box6 box6"
        "box7 box8 box9 box10";
    }
  
  
  