.box {
    background: #eeeeee;
    padding:10px;
    border: 1px solid black;
    margin: 5px;
    
  }
  #wrapper{
    width:55%;
    margin: 0 auto;
  }
  .nestedbox{
      
      border:1px solid black;
      width:100%;
      height:50%;
    
  }
  .textbox{
      width:100%;   
  }
  .orangeBox{
    background:orange;
    border:1px solid black;
    width:25%;
    height:10%;
    float:right;
  }
  



  /*----------BOXES----------*/
  .box1 {
    grid-area: box1;
  }
  
  .box2 {
    grid-area: box2;
  }
  
  .box3 {
    grid-area: box3;

  }
  
  .box4 {
    grid-area: box4;
  }
  
  .box5 {
    grid-area: box5;
  }
  
  .box6 {
    grid-area: box6;
  }

  .box7 {
    grid-area: box7;
  }
  
  .box8 {
    grid-area: box8;
  }
  .box9 {
    grid-area: box9;
  }
  
  .box10 {
    grid-area: box10;
  }
    /*----------END BOXES----------*/



@media (min-width:900px){
/*Box 1, 2, 6 specific*/
.box1 >.nestedbox , .box2 >.nestedbox, .box6 >.nestedbox {
  background:pink;
  float: left;
  width:35%;
  height:100%;
}
.box1 >.textbox,   .box2 >.textbox,   .box6 >.textbox{
  float:right;
  width:60%;
  height:90%;
}

    .grid {
    display:grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows:30% 40% 30% 54%;
      grid-template-areas: 
        "box1 box1 box2 box2"
        "box3 box3 box4 box5"
        "box3 box3 box6 box6"
        "box7 box8 box9 box10";
    }
  
  
  
}

@media(max-width:900px){
  #wrapper{
    width:90%;
    margin:0 auto;
  }
  .grid {
    display:grid;
      grid-template-columns: 50% 50%;
      grid-template-rows:50% 20% 30% 40% 45% 40% 40%;
      grid-template-areas: 
        "box1 box1"
        "box2 box3"
        "box2 box3" 
        "box6 box6" 
        "box4 box5"
        "box7 box8 "
        "box9 box10";
    }
}
@media(max-width:600px){
  #wrapper{
    width:100%;
  }
  .grid {
    display:grid;
      grid-template-columns: 100%;
      grid-template-rows:30% 30% 30% 30% 30% 30% 30% 30% 30% 30%;
      grid-template-areas: 
        "box1" 
        "box2 "
        "box3"
        "box6 "
        "box4 "
        "box5"
        "box7 "
        "box8 "
        "box9 "
        "box10";
    }
}